[submodule "lib/sht4x"]
	path = lib/sht4x
	url = git@github.com:Sensirion/raspberry-pi-i2c-sht4x.git
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "lib/curl"]
	path = lib/curl
	url = git@github.com:curl/curl.git
